{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row" style="max-width:960px;display:flex;align-items: center;flex-direction:column">
    <img src="/static/images/skyfox4.png" alt="foxy" width="auto" height="500" style="height:120;align-self: center;margin: 20px">
    <h1 style="margin-bottom: 10px">Welcome to Skyfox - come soar with us!</h1>
    <div class="row" style="max-width:960px;align-self: center">
        {{ wtf.quick_form(form) }}
    </div>
</div>


{% endblock %}
